.container {
    border: 1px solid red; 
    width: 1000px ; 
    margin: auto ;
}

.card-title {
    border: 1px solid blue;
    margin-bottom: 20px;
    text-align: center;
    color: deepskyblue;
    font-weight: bold;
}

.card-list {
    border: 1px solid blueviolet;
    width: 1000px ; 
    overflow: hidden ;
}

.card {
    border: 1px solid black;
    border-radius: 10px ;
    width: 200px ; 
    display: inline-block ;
    margin: auto ;
    padding: 5px ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    margin-right: 30px;
    float : right ;
}

img {
    width: 200px ; 
    border-radius: 50%;
}

.card > a {
    text-decoration: none ;
}

.card h3, button {
    text-align: center ; 
}

button {
    border: 1px solid red;
    width: 180px ;
    border-radius: 25px ; 
    padding: 10px 20px;
    margin: auto ; 
    margin: 10px 5px 10px 10px ; 
}

button:hover {
    background-color: red;
    color: white;
}

