.accent {
    color: red ; 
}

/*
- px : 고정 16px 
- em : 상대적 16px * 1.5 = 24px
*/
.txt-small {
    font-size: 0.7em; 
}

h2 {
    color: red ;
    font-size: 1.5em;
    text-align: center ; 
}

.box {
    border: 1px solid red;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bold ;
    text-align: center;
    line-height: 2em;
}

h2[text="customer"] {
    color: blue ;
}

#heading {
    background-color: black;
    color: white;
    text-align: center ; 
}
